.result {
    position: relative;
    width: 320px;
    height: 80px;
    padding: 8px;
    overflow: hidden;
    background-color: #34656d;
    font-size: 32px;
    line-height: 2;
    color: #fffbdf;
    text-align: right;
    direction: rtl;
    white-space: nowrap;
    box-sizing: border-box;
}